.dark {
  color: #fff;
  background-color: #333;
}
.heading {
  color: green
}
.app nav ul li{
  list-style: none;
}
.app {
  text-align: center;
}
.app nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}